.ui_alignment{
    width: 60% !important;
    margin: 10px auto !important;
}
.ui_flex{
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
}

.display_content{
    display: flex !important;
    flex: 100%;
}
.video{
flex:60% !important;
}
.suggestion{
flex: 40% !important;
}